<div class="wvu-masthead">
  <div class="wvu-masthead-container">
    <a class="wvu-official-logo" href="https://www.wvu.edu/">West Virginia University</a>
    <ul>
      <li><a href="https://www.wvu.edu/SiteIndex/">A-Z Site Index</a></li>
      <li><a href="https://campusmap.wvu.edu/">Campus Map</a></li>
      <li><a href="https://employmentservices.hr.wvu.edu/wvu-jobs">Jobs</a></li>
      <li><a href="https://directory.wvu.edu/">Directory</a></li>
      <li><a href="https://www.wvu.edu/">WVU Home</a></li>
    </ul>
  </div> <!-- /.masthead-container -->
</div> <!-- /.wvu-masthead -->
