<div class="wvu-masthead">
  <div class="wvu-masthead-container">
    <a class="wvu-official-logo" href="https://www.wvu.edu/">West Virginia University</a>
  </div> <!-- /.masthead-container -->
</div> <!-- /.wvu-masthead -->
