// Styles for Blogs
.comment {
    padding: 20px;
}
 article .date {
    visibility: hidden;
    display: none;
}
 form .comment_author {
    float: left;
    width: 49%;
}
 #new-comment h3 {
    border-bottom: 1px dotted #ccc;
}
 form .comment_email_address {
    float: right;
    width: 49%;
}
article .footer { padding: 0; }
article .footer a {
    background-color: $grey-dark;
    font-size: .9em;
    font-weight: 700;
    float: left;
    width: 120px;
    min-height: 15px;
    line-height: 1.3;
    margin-right: 1px;
    display: block;
    color: #fff;
    padding-left: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
}
article .footer a:hover { background-color: $orange; }
 article .header span, .comment .header span {
    color: #333;
    font-size: .8em;
}
 .comment .header .number {
    font-size: 3em;
    position: absolute;
    left: -70px;
}
 .comment .reply {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
 .comment .header {
    position: relative;
    color: #ccc;
}
 .comment .body {
    clear: left;
}
 article .body {
    padding-bottom: 10px;
    padding-top: 5px;
}
 article .header {
    color: #ccc;
}
 article .header h2 {
    font-size: 2.3em;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
 article {
    padding-bottom: 40px;
    margin-bottom: 20px;
}
 #comment_author, #comment_email_address, #comment_body {
    width: 100%;
}
 #flash p {
    margin: 0;
}
 #flash p.msg {
    font-size: 1.5em;
    color: #000;
}