// WVU Color Pallette
//==================================================

// Primary
$wvu-blue: #00447c;
$wvu-gold: #eeb111;
$blue-alternate: #005daa;

//  Secondary
$gold-secondary-light: #ffe894;
$blue-secondary-light: #a0c4da;
$blue-secondary-middle: #0079c1;
$purple: #27318b;
$orange-dark: #d9531e;
$orange: #f47b20;
$grey-dark: #455560;
$grey-middle: #5c6f7c;
// 100% Black: #000;

// Tertiary
$red: #bb471a;
$grey-blue: #abc;
$grey-light: #e0e0e0;
$blue-vibrant: #39f;
$blue-grey: #369;
$purple-bright: #60c;

// Double Abstraction
$linkcolor: $blue-alternate;
$linkhover: $wvu-gold;
$linkvisited: $purple-bright;


// Grid
//==================================================

// Grid Media Queries:
$grid-mq-tablet: 48em;
$grid-mq-desktop: 60em;

// Grid Gutters
$grid-gutter-tablet: 1.302083333333333%;
$grid-gutter-desktop: 1.041666666666667%;