html {
  background-image: none;
  background-color: #333F48;
  font-family: helvetica,arial,verdana,sans-serif;
}

body {
  margin-top: 0;
}

#container {
  border: 0px solid #A2AAAD;
  margin: 0 auto 24px auto;
  width: 100%;
}

#logo {
  background-color: #002855;
  padding-bottom: 10px;
}

#logo a {
  position: relative;
  top: 20px;
  margin-left: 15px;
}

.wufoo .bigbottom {
  margin-bottom: 15px;
}

.wufoo input.text,
.wufoo textarea.textarea {
  background: #f9f9f9;
}

.wufoo .focused {
  background: #fff;
}

.wufoo .instruct {
  background-color: #f5f5f5;
}

.wufoo .info {
  border-bottom: 1px dotted #ccc;
}

.wufoo .instruct {
  border: 1px solid #e6e6e6;
}

.wufoo .likert {
  overflow: scroll;
}

.wufoo .info h2 {
  font-size: 3em;
  font-family: helvetica;
  color: #333F48;
}

.wufoo .info div {
  font-size: 1.5em;
  font-family: helvetica;
  color: #2C2A29;
}

.wufoo .section h3 {
  font-family: helvetica;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #005EB8;
  font-weight: bold;
}

.wufoo .section div {
  font-size: 1.12em;
  font-family: helvetica;
  color: #2C2A29;
}

.wufoo label.desc,
.wufoo legend.desc {
  font-size: 1.3em;
  font-family: helvetica;
  color: #2C2A29;
  font-weight: bold;
  padding-bottom: 6px;
}

.wufoo li div,
.wufoo li div label,
.wufoo li span label {
  font-family: helvetica;
  color: #2C2A29;
  font-size: 1em;
}

form span.req {
    display: inline;
    float: none;
    color: #BE3A34;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.wufoo input.text,
.wufoo textarea.textarea {
    color: #2c2a29;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    font-family: helvetica;
    padding-top: .75em;
    padding-left: .75em;
    padding-bottom: .75em;
    padding-right: .75em;
    margin-bottom: .25em;
}
input.checkbox,
input.radio {
  display: inline-block;
}

.wufoo select.select,
.wufoo label.choice {
  font-size: 1.12em;
  font-family: helvetica;
  color: #2C2A29;
}

.wufoo label.choice {
  color: #2C2A29;
}

label.choice {
  margin-left: 0;
  display: inline-block;
}

.wufoo .instruct {
  font-size: 1em;
  font-family: helvetica;
  color: #2C2A29;
}

#bottom {
  visibility: visible;
}

.wufoo {
  padding: 0px 20px;
  color: #2C2A29;
}

 .wufoo ul {
   list-style: none;
   padding: 0px;
 }

  .wufoo ul li {
    line-height: 18px;
    margin-bottom: 15px;
  }

.field.file {
  font-size: 16px;
}

#saveForm {
  font-family: helvetica;
  font-size: 1.3em;
  vertical-align: middle;
  background-color: #005EB8;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 0.75em 1em;
  line-height: 1;
  display: inline-block;
  margin-top: -40px;
}

form li.complex div span.full {
    margin: 0px;
    font-size: 1em;
    font-family: helvetica;
    color: #2c2a29;
}

form li.complex div span.full input,
form li.complex div span.full select,
form li.complex div span.left input,
form li.complex div span.right input,
form li.complex div span.left select,
form li.complex div span.right select {
  height: 2.888em;
}

/* Media Queries */

@media (min-width: 800px) {
  body {
    margin-top: 0;
  }

  html {
    margin-top: 24px;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
  }
  #container {
    border: 0px solid #A2AAAD;
    margin: 0 auto 24px auto;
    width: 800px;
  }
}
