// Breadcrumbs
//==================================================

.wvu-breadcrumbs { width: 100%; }

.wvu-breadcrumbs__crumbs { float: left; width: 100%; margin-top: 0; margin-bottom: 0; padding: .5em 1em; list-style-type: none;
  @media (min-width: 60em) { padding: .5em 0; }
  li { float: left; font-size: .8em; margin-right: .5em;
    &:before { content: ' / '; }
    &:first-child {
      &:before { content: ''; }
    }
  }
}

.wvu-breadcrumbs__list--white { color: white;
  a { color: white; }
}