// Fake Links
//==================================================
// Make a link look like body text

.wvu-u-fake-link { color: $basecolor; text-decoration: none;
  &:hover, &:visited { color: $basecolor; }
} //.u-fake-link