// Main Nav
//==================================================

.wvu-nav-wrap { width: 100%; background-color: $black; margin-bottom: 28px; } // Don't float this
.wvu-nav {
  ul { float: left; list-style-type: none; margin-top: 0; margin-left: 0; margin-bottom: 0; padding-left: 0; }
  li { float: left; display: inline; margin-top: 0; margin-bottom: 0; border-right: 1px solid #444; 
    &:first-child { border-left: 1px solid #444; }
  } //&:first-child
  a { float: left; color: #fff; padding: 1em; text-decoration: none;
    &:hover { background-color: $wvu-gold; color: $wvu-blue; }
  } //a
} //.wvu-nav
