// WVU Typography
//==================================================

body { font-size: 16px; font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; color: $basecolor; }
h1 { font-size: 3em; line-height: 1.08333333em; width: 100%; margin-top: 0; margin-bottom: 0.5em; color: $pms-432-c;
  @media (min-width: 75em) { font-size: 4em; }
}
h2 { font-size: 2.4em; line-height: 1.08333333em; }
h2, h3, h4, h5, h6 { color: $pms-432-c; clear: both; margin-bottom: 1em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h3, h4, h5, h6 { margin-bottom: 18px; }
h4, h5, h6 { color: $black; margin-bottom: 18px; }
h3, h4, h5 { line-height: 1.15; }
p { max-width: 75em; }
blockquote {
  border-left: 2px solid #ccc;
  color: $basecolor;
  margin: 1.5em 0;
  padding-left: .75em;
}
p + h2, table + h2, blockquote + h2, fieldset + h2 { margin-top: 1em; }
ul, ol { margin-bottom: 18px; }
a { color: $linkcolor; text-decoration: underline;
  &:visited { color: $linkvisited; text-decoration: none; }
  &:active { text-decoration: none; }
  &:hover { color: $linkhover; text-decoration: underline; }
} //a
ul { list-style-type: disc; padding-left: 1.5em; }
ul ul { list-style-type: circle; margin-bottom: 0; }
ul li, ol li { line-height: 1.4; margin: 10px 0; }
ol { list-style-type: decimal; padding-left: 1.5em; }
ol ol { list-style-type: lower-alpha; margin-bottom: 0; }
acronym, abbr { font-variant: small-caps; }
ins { text-decoration: underline; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, blockquote { vertical-align: baseline; }
h6, .wvu-sidebar { font-size: 1em; line-height: 1.5; margin-bottom: 18px; }
ul li, .wvu-sidebar li { line-height: 1.4; }
em, i, cite, q { font-style: italic; }

dl { margin-bottom: .75em; }
dt { font-weight: bold; margin-top: .75em; }
dd { margin: 0; }

.wvu-site-logo  { font-size: 1.5em; color: $linkcolor; line-height: 1.7; max-width: 100%; display: block; margin-top: 18px; margin-bottom: 28px; text-transform: uppercase; text-decoration: none; }
.wvu-sidebar { font-size: .8em; }