// Main Nav
.wvu-nav {
  li { padding-left: 0; float:left; margin-top: 0; margin-bottom: 14px; }
  a, a:visited { color: #fff; background-color: $grey-dark; }
  a { font-size: .72em; padding: 5px 10px; margin-right: 1px; float: left;
    &:hover { background-color: $orange; color: #fff; }
  } //a
} //.wvu-nav

// Breadcrumbs
.wvu-breadcrumbs { font-size: .67em; color: $grey-middle; line-height: 1.5; margin: 18px 0; padding-left: 0;
  li { display: inline; list-style-type: none; margin-left: 0; }
  li:before { content: "\00BB"; padding-right: 3px; }
  li:first-child:before { content: ""; padding-right: 0; }
} //.wvu-breadcrumbs
.wvu-breadcrumbs__current-page, .wvu-breadcrumbs__active { background-color: transparent; color: $grey-middle; }