{% if edit_mode %}
  <div class="wvu-instructions">
    <p><strong>Instructions for Calendar Widget:</strong> Use the &rsquo;Calendar Event Feed&rdquo; snippet in the editor, drop in your calendar&rsquo;s XML feed.</p>
  </div>
{% endif %}
