{% if edit_mode %}
  <div class="wvu-instructions">
    <p><strong>Instructions for Super-Nav:</strong> This patterns has up to 7 columns for a super nav. Use unordered lists to list your links. Like the triptych, these panels are all optional. Note this will show up on every page.</p>
  </div>
{% endif %}
