{% if edit_mode %}
  <div class="wvu-instructions">
    <p><strong>Instructions for Directory:</strong> This displays a table of names. Child pages should serve as categories e.g. Child pages of those are for individual staff members.</p>
  </div>
{% endif %}
