{% if edit_mode %}
  <div class="wvu-instructions">
    <strong>Instructions for Featurettes:</strong> This finds pages labeled with <code>featurette</code> and this page&rsquo;s slug, and pulls in content to create sub-features. Or list out sub-features based on page ID. Enter the parent page&rsquo;s ID in the <strong>featurettes_id</strong> field in Page Properties > Data. Each page you wish featured must be labelled <code>feature</code>.
  </div>
{% endif %}
