{% if edit_mode %}
  <div class="wvu-instructions">
    <strong>Instructions for Featurettes:</strong> This takes a <code>featurettes_id</code>, loops through children of the parent that matches the ID, and pulls in content to create profile sub-features. Each profile page you wish featured must be labelled <code>feature</code>.
  </div>
{% endif %}
