{% if edit_mode %}
  <div class="wvu-instructions">
    <p><strong>Instructions for Big Search Index:</strong> You can create a sort of mini-database by creating sub-pages and using keywords. The search will search each subpage and display pages that match the keywords (found in section <code>.main</code>). This is the page listing part.</p>
  </div>
{% endif %}
