{% if edit_mode %}
  <div class="wvu-instructions">
    <p><strong>Instructions for Adverts:</strong> Show a list of advertisements. This grabs any page labeled <code>advert</code> and the page slug of the current page and displays its thumbnail image and page title.</p>
  </div>
{% endif %}
