{% if edit_mode %}
  <div class="wvu-instructions">
    <strong>Instructions for Hero Small:</strong> This is where you feature your most important content and user action. It requires marketing copy for a headline and brief description, a call to action, a photo, and an optional photo caption. If you cannot provide all of these items, consider omitting this section. See our <a href="http://brand.wvu.edu/brand-guide/voice">guidelines for marketing copy</a> and <a href="http://brand.wvu.edu/brand-guide/graphic-language/photo">using photos</a>.
  </div>
{% endif %}
