{% if edit_mode %}
  <div class="wvu-instructions">
    <p><strong>Instructions for Event Agenda:</strong> Takes an <code>agenda_id</code> page data attribute, then loops through the referenced page&rsquo;s children and grabs agenda info. You can organize child pages according to day, then event. Child pages should use the "Agenda Item" template. Always include a page for each day, even if the event only lasts one day.</p>
  </div>
{% endif %}
