{% if edit_mode %}
  <div class="wvu-instructions">
    <p><strong>Instructions for Backpage Header:</strong> This pattern is on all back pages by default. To change the background image, upload the photo you wish to use, then either label the photo with <code>backpage-background</code> (if you want it to show on all backpages), or label the photo with the page slug and a <code>-header-background</code> suffix. For example, if you want a unique background for a particular page, and the page is called &ldquo;About Us,&rdquo; label the file <code>about-us-header-background</code>.</p>
  </div>
{% endif %}
