/* - - - - - - - - - - - - - - - - - - - - -

 Title : WVU default Wufoo theme
 Authors : Sean Dooley, Adan Johnson
 URL : https://code.wvu.edu/stylesheets/wufoo/1.0/wufootheme.css

 Last Updated : February 28, 2018

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */

/* Logo */
#logo a { position: relative; top: 15px; left: 20px; }

/* Backgrounds */
html { background-image: none;background-color: #00457c; font-family: arial,verdana,sans-serif; }
#logo { background-color: #002855; height: 64px; }
.wufoo input.text, .wufoo textarea.textarea { background: #f9f9f9; }
.wufoo .focused { background: #fff; }
.wufoo .instruct { background-color: #f5f5f5; }

/* Borders */
#container { border: 0 solid #ccc; }
.wufoo .info { border-bottom: 1px dotted #ccc; }
.wufoo .instruct { border: 1px solid #e6e6e6; }

/* Field */
.wufoo .likert { overflow: scroll; }

/* Typography */
.wufoo .info h2 { font-size: 2em; font-family: inherit; color: #00457c; border-bottom: solid 4px #eeb211; }
.wufoo .info div { font-size: 1em; font-family: inherit; color: #333; }
.wufoo .section h3 { font-family: inherit; background: #fff; font-size: 1.333em; text-transform: uppercase; color: #d9541e; font-weight: bold; }
.wufoo .section div { font-size: 85%; font-family: inherit; color: #333; }
.wufoo label.desc, .wufoo legend.desc { font-size: 1.15em; font-family: inherit; color: #333; }
.wufoo li div, .wufoo li div label, .wufoo li span label { font-family: inherit; color: #333; }
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice { font-size: 100%; font-family: inherit; color: #333; }
.wufoo label.choice { color: #333; }
.wufoo .instruct { font-size: 80%; font-family: inherit; color: #333; }

/* Drop Shadows */
#bottom { visibility: visible; }
.wufoo { padding: 0px 20px; color: #333; }

.wufoo ul { list-style: none; padding: 0px; }

.wufoo ul li { line-height: 18px; margin-bottom: 15px; }

.field.file { font-size: 16px; }

#saveForm { font-size: 18px; }
