// typography.css | 6/12/13
body { font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; color: #333; }
h1 { font-size: 48px; line-height: 56px; color: #455560; text-transform: uppercase; margin-top: 16px; font-weight: normal; max-width: 12em; }
header h1  { font-size: 24px; color: #005daa; line-height: 36px; max-width: 100%; margin-bottom: 18px; }
h2 { font-size: 24px; line-height: 30px; color: $wvu-blue; border-bottom: 4px solid #eeb211; max-width: 12em; font-weight: normal; margin-bottom: 36px; }
h3 { font-size: .97em; text-transform: uppercase; color: #d9541e; }
h4 { font-size: .97em; }
h5 { font-size: .85em; }
h3, h4, h5, h6 { margin-bottom: 18px; }
h4,h5,h6 { color: #333; margin-bottom: 18px; }
h3,h4,h5 { line-height: 18px; }
p { max-width: 75em; margin-bottom: 18px; }
blockquote { font-size: 14px; line-height: 24px;max-width: 60em;margin-bottom: 18px; color: #005daa; }
ul,ol { margin-bottom: 18px; }
a  { color: $linkcolor; text-decoration: none;
  &:visited { color: $linkvisited; text-decoration: none; }
  &:active { text-decoration: none; }
  &:hover { color: $linkhover; text-decoration: underline; }
}
ul { list-style-type: disc; }
ul ul { list-style-type: circle; margin-bottom: 0; }
#nav ul,nav ul { list-style-type: none; margin-left: 0; padding-left: 0; float: left; }
ol { list-style-type: decimal; }
ol li { line-height: 18px; }
ol ol { list-style-type: lower-alpha; margin-bottom: 0; }
acronym,abbr { font-variant: small-caps; }
ins { text-decoration: underline; }
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,blockquote { vertical-align: baseline; }
h6,.sidebar,aside { font-size: .8em; line-height: 1.5; margin-bottom: 18px; }
ul li,.sidebar li,aside li { line-height: 18px; }
em,i,cite,q { font-style: italic; }