// WVU Color Pallette - 4/8/2013
 //==================================================

// PRIMARY PALLETTE
$wvu-blue: #00447c;
$wvu-gold: #eeb111;
$alternate-blue: #005daa;

//  SECONDARY PALLETTE
$secondary-light-gold: #ffe894;
$secondary-middle-blue: #0079c1;
$secondary-light-blue: #a0c4da;
$purple: #27318b;
$dark-orange: #d9531e;
$orange: #f47b20;
$dark-grey: #455560;
$middle-grey: #5c6f7c;
// 100% Black: #000;

// TERTIARY PALLETTE
$blue-grey: #ABC;
$light-grey: #E0E0E0;
$vibrant-blue: #39F;
$grey-blue: #369;
$bright-purple: #60c;


// CUSTOM VARIABLES

// Double Abstraction
$linkcolor: $alternate-blue;
$linkhover: $wvu-gold;
$linkvisited: $bright-purple;